{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "quotes": [1, "single"],
    "semi": [1, "always"]
  },
  "globals": {
    "jQuery": true,
    "$": true
  }
}
